[Desktop Entry]
Encoding=UTF-8
Name=Fandom Gold
GenericName=GoldWallet
Comment=Fandom Gold Wallet
Exec=GOLDwallet %U
Terminal=false
Type=Application
Icon=fandomgold
MimeType=x-scheme-handler/fandomgold;
Categories=Office;Finance;
Version=3.0.2

Name[en_US]=GoldWallet.desktop
